@charset "utf-8";
/* CSS Document */

html,body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #333;
	line-height: 1.2em;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	/*position:relative;*/
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
main {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 22pt;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    text-align: left;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 60px;
  background-color: #3397DB;
  align-items: center;
  display: flex;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  line-height: 1.2em;
  height: 48px;
  letter-spacing: 0;
  margin: 0px 16px 0px 16px;
}
.filter-options select:focus {
  /*light blue on blue doesn't work well*/
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0px 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 360px;
  padding: 0 30px 25px;
  text-align: left;
  width: 90%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 230px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0px;
  font-size: 1rem;
}
#restaurants-list li div {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#restaurants-list li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #333;
  line-height: 1.2em;
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  margin: 20px 0 0 0;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inside #map-container {
  width: 100%;
}
.inside #map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 230px;
  min-width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 20px 0px;
}
#restaurant-cuisine {  /* I want this to match the size of the image, so I think both will need to go in a div*/
  /*what to do with the times?  Maybe keep the map top level always, then side-by-side the restaurant and times*/
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 20px 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#restaurant-container, #reviews-container {
  padding: 30px 0px 30px;
  text-align: center;
}
#restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#divider {
  width: 100%;
  height: 60px;
  background-color: #3397DB;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  padding-bottom: 1pt;
  text-transform: uppercase;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0 20px 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#reviews-list li p {
  margin: 0 0 10px;
}
.rating-text {
  font-weight: bolder;
}
.review-text {
  padding-top: 20px;
  text-align: justify;
  line-height: 1.25em;
}
#restaurant-hours td {
  color: #666;
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
/* ====================== Responsive Breakpoints ====================== */
/* Old settings that wouldn't work well for 1x and 2x versions of the images
@media screen and (min-width: 600px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 570px;
    height:  590px;
  }
  nav h1 a {
    font-size: 24pt;
  }
}
@media screen and (min-width: 800px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 45%;
    height: auto;
  }
    nav h1 a {
    font-size: 28pt;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 30%;
    height:  auto;
  }
}
@media screen and (min-width: 1400px) {
  body  {
    box-sizing: border-box;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
  }
}*/
/* ====================== Main Page Breakpoints ====================== */
@media screen and (min-width: 494px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 464px;
    height:  511px;
  }
}
@media screen and (min-width: 600px) {
  nav h1 a {
    font-size: 24pt;
  }
}
@media screen and (min-width: 800px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 46.25%;
    height: auto;
  }
    nav h1 a {
    font-size: 28pt;
  }
}
@media screen and (min-width: 1004px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 464px;
    height:  511px;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants-list li  {
    box-sizing: border-box;
    width: 30.83%;
    height:  auto;
  }
}
@media screen and (min-width: 1400px) {
  body  {
    box-sizing: border-box;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
  }
}
/* ====================== Detail Page Breakpoints ====================== */
@media screen and (min-width: 650px) {  /*So that when the table wraps to same row as image there's more space in between*/
  #restaurant-hours {
    padding: 0 20px 0 20px;
  }
@media screen and (min-width: 1100px) {
  .inside {
    box-sizing: border-box;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
  }
}
